
<div class='search'>
  <%= form_tag(recipes_search_path(), method: :get) do %>
    <ul class="menu">
        <li><%= search_field_tag("query", nil, placeholder: "Recipe Keyword")%></li>
        <li><%= submit_tag "Search", name: nil, class: 'button' %></li>
    </ul>
  <% end %>
</div>



